// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'iransans';
  src: url('../assets/fonts/IRANSansWebFaNum/fonts/ttf/IRANSansWeb\(FaNum\)_Medium.ttf'); //mine
}

* {
  font-family: 'iransans';

  // input cmponent styles
  ion-list.prep-input-list {
    margin: 0px;
  }

  ion-item.prep-input-item {
    height: 45px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none !important;
    box-shadow: 0 0 6px 2px #ddd;
    border-radius: 5px;

    .input-wrapper {
      border-right: 1px solid #ddd;
    }
  }

  span.prep-input-span {
    width: 90px;
    text-align: right;
    margin-right: 0px !important;
    padding-left: 10px;
    font-size: 14px;
    color: rgb(112, 112, 112);
  }

  input.prep-input {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    direction: rtl;
    font-size: 16px;
  }
  input[disabled] {
    cursor: default;
    background-color: white;
  }

  .password-input {
    text-align: left !important;
    direction: ltr !important;
  }

  .email-icon-wrapper {
    width: fit-content;
  }

  ion-item.phone-prefix-wrapper {
    .input-wrapper {
      border-right: none !important;
    }
  }

  .phone-prefix-label {
    width: fit-content !important;
    direction: ltr !important;
    text-align: left !important;
    font-size: 16px !important;
  }

  .phone-input {
    direction: ltr !important;
    text-align: left !important;
  }

  ion-item.password-input-item {
    .input-wrapper {
      border-right: none !important;
    }
  }

  ion-item.email-input-item {
    .input-wrapper {
      border-right: none !important;
    }
    .email-icon-wrapper {
      width: fit-content !important;
    }
    .email-input {
      direction: ltr;
      text-align: left;
    }
  }

  ion-icon.prep-input-icon {
    margin-right: 0px !important;
    margin-left: 0px !important;
    font-size: 22px;
  }

  // backdrop styles
  ion-backdrop {
    opacity: 0.2 !important;
  }

  // toast styles
  .toast {
    text-align: center;
    .toast-wrapper {
      width: fit-content;
      height: fit-content;
      border-radius: 10px;
      background-color: rgb(54, 158, 141);
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.8);
    }

    .toast-bottom {
      bottom: 40px !important;
    }

    .toast-message {
      padding: 5px 10px;
    }
  }

  // loading styles
  ion-loading.loadingClass {
    .loading-wrapper {
      width: 36px;
      height: 36px;
      padding: 0 !important;
      justify-content: center;
      border-radius: 50% !important;
    }
    .loading-spinner {
      width: 28px;
      height: 28px;
    }
  }

  // custom styles
  .navbar-container {
    padding: 20px;
    background-color: white;
    font-size: 20px;
  }

  .form-container {
    width: 85%;
    margin: auto;
    padding-top: 80px;

    button.ab-btn {
      width: 100%;
      height: 45px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: rgb(87, 180, 239);
      color: white;
      font-size: 16px;
      box-shadow: -1px 1px 5px 0px rgb(172, 172, 172);
      border-radius: 5px;
    }
  }

  .text-container {
    width: 100%;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 5px;
    float: right;
    color: rgb(112, 112, 112);
    font-size: 14px;
  }
}
