register-page {
  ion-content {
    background-color: rgb(246, 246, 246) !important;
  }

  .text-container {
    span {
      margin-left: 10px;
      color: rgb(87, 180, 239);
    }

    .span-left {
      float: left;
    }
  }
}
